header.fade.out
    .nav-bar-min
        .ui.fixed.inverted.main.menu
            .ui.container
                a#sidebar.icon.item(href='javascript:void(0);')
                    i.content.icon
                .right.menu
                    .vertically.fitted.borderless.item
                        a(href="")
                            i.user.icon
    .nav-bar-max
        .ui.inverted.menu
            .ui.container
                .right.menu
                    a.ui.item(href="")
                        i.user.icon