link(rel="stylesheet" href="origin/lib/bower_components/semantic/dist/semantic.min.css")
script(src="origin/lib/bower_components/semantic/dist/semantic.min.js")
script(src="public/js/jquery.mousewheel.min.js")
