#left_bar.ui.vertical.inverted.sidebar.menu.left
    .item
        i.user.icon
        .content Origin
    .item
        i.marker.icon
        .content WuHan China
    .item
        i.mail.icon
        .content
            a(href='mailto:dasoncheng@yahoo.com') dasoncheng@yahoo.com
    .item
        i.behance.icon
        .content
            a(href='https://www.behance.net/myour') Behance
    .item
        i.facebook.f.icon
        .content
            a(href='https://www.facebook.com/dasoncheng') Facebook
    .item
        i.wechat.icon
        .content 654385230
    .item
        i.linkify.icon
        .content
            a(href='https://myour.cc') myour.cc