doctype html
html
    head(lang='en')
        link(rel='stylesheet', type='text/css', href='public/css/reset_base.css')
        link(rel='stylesheet', type='text/css', href='public/css/server.css')
        meta(name='Description', content='深圳南科网络科技有限公司-服务')
        meta(name='Keywords', content='Web UI、Game、Android、IOS、SEO一体化服务')
        meta(charset='UTF-8')
        title 深圳南科网络科技有限公司-服务
    body
        .heaher-out
            .heaher
                .heaher-in.areaheart
                    .heaher-in-l
                        h1
                            a(href='index.html', target='_self')
                                | 深圳南科网络科技有限公司
                    .heaher-in-r
                        ul.h-i-r-nav.clearfix
                            li
                                a(href='index.html') 首页
                            li
                                em /
                            li
                                a(href='case.html') 案例
                            li
                                em /
                            li.current
                                a(href='server.html') 服务
                            li
                                em /
                            li
                                a(href='about.html') 关于
                            li
                                em /
                            li
                                a(href='contact.html') 联系
                        ul.h-i-r-icon
                            li
                                a(href='javascript:;') QQ
                            li
                                a(href='javascript:;') Mail
        .main
            .s-our-server
                .s-our-server-in.areaheart
                    h2.tit-zh 我们的服务
                    span.tit-en Our Service
                    h3.tit-con ” 我们所做的一切都是为了您的体验 “
                    ul
                        li
                            dl
                                dt
                                dd
                                    h3 设计
                                    p Design
                                dd
                                    span
                                        em Web UI设计
                                        | /
                                        em 移动App设计
                                        | /
                                        em 软件界面设计
                                        | /
                                        em 游戏动画设计
                                        | /
                                        em 网店装修设计
                                        | /
                                        em 模板设计
                        li
                            dl
                                dt
                                dd
                                    h3 开发
                                    p Delevop
                                dd
                                    span
                                        em Html5&Css3开发
                                        | /
                                        em Php&Mysql建站
                                        | /
                                        em Js交互开发
                                        | /
                                        em Java应用系统开发
                                        | /
                                        em Android、IOS客户端开发
                        li
                            dl
                                dt
                                dd
                                    h3 运营
                                    p Marketing
                                dd
                                    span
                                        em 搜索引擎SEO、SEM优化
                                        | /
                                        em 知名媒体广告投放
                                        | /
                                        em 营销活动策划
                                        | /
                                        em 淘宝、天猫网店代运营
            .s-server-webui
                .s-server-webui-in.areaheart
                    .content
                        h3 Web UI 设计
                        span 为您呈现的，是我们想打动您的。不光是眼球，更希望内心的共鸣！
                        p
                            | 多年的行业经验，让我们在LOGO、ICONS设计，企业品牌网站，互动网站，门户网站，电商网站，营销活动界面，网店装修设
                            | 计以及各类PC端视觉界面方面，拥有独到的眼光。我们擅于通过视觉设计，精准的达成客户的目标。目前已服务200+的客户
                            | ，获得一致好评。
                        a(href='javascript:;') 欣赏案例 >
                    img(src='public/imgs/sitem_bg1.png', alt='WebUI')
            .s-server-app
                .s-server-app-in.areaheart
                    .content
                        h3 移动App设计
                        span 为您呈现指尖的灵动
                        p 为各类Android平台或IOS系统的手机、平板电脑、家电设备、车载系统等移动设备提供完善的品牌化用户界面设计
                        a(href='javascript:;') 欣赏案例 >
                    img(src='public/imgs/sitem_bg2.png', alt='WebUI')
            .s-server-game
                .s-server-game-in.areaheart
                    .content
                        h3 游戏动画设计
                        span 手指间的欢乐不仅好玩也很好看！
                        p 专业提供手机游戏角色设计，原创手绘，以及各类轻量化游戏及动画创作。
                        a(href='javascript:;') 欣赏案例 >
                    img(src='public/imgs/sitem_bg3.png', alt='WebUI')
            .s-server-code
                .s-server-code-in.areaheart
                    .content
                        h3 代码开发
                        span 为您提供高性能高品质的程序开发支持
                        p
                            | 还在为写代码发愁吗？找我们织梦猫互动攻城狮吧！ 专业提供Html5&Css3前端代码开发、Php&MySql建站开发、Js交互开发 Java应用系统开发以及Android或IOS平台移动客户端开发
                        a(href='javascript:;') 欣赏案例 >
                    img(src='public/imgs/sitem_bg4.png', alt='WebUI')
            .s-server-seo
                .s-server-seo-in.areaheart
                    .content
                        h3 运营推广
                        span “ 其实酒香也怕巷子深 ”
                        p 好的产品离不开，好的营销手段。我们可以为您提供搜索引擎SEO/SEM优化，网络营销活动策划传播，知名媒体广告投放，淘宝、天猫开店代运营服务。
                        a(href='javascript:;') 欣赏案例 >
                    img(src='public/imgs/sitem_bg5.png', alt='WebUI')
            .s-server-process
                .s-server-process-in.areaheart
                    p.tit-zh 我们的服务流程
                    p.tit-en Service Process
                    p.tit-con ” 我们与你一起推进项目并协作，共同达到目标 “
                    div 服务与流程
        .footer
            .footer-in.areaheart.clearfix
                .footer-c-txt
                    p Copyright © 2015 深圳南科网络科技有限公司 版权所有
                    p
                        em 粤ICP备69589678号
                .footer-c-way
                    dl
                        dt qq
                        dd
                            a(href='javascript:;') 88888888
                    dl
                        dt mail
                        dd
                            a(href='javascript:;') biz@nksoft.cn
