body, html {
  height: auto !important;
}

#loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 150;
  background-color: rgba(44, 44, 43, 1);
}

#nprogress {
  .spinner {
    top: 50% !important;
    right: 50% !important;
    transform: translate(-50%, 50%);
  }
}

.fade {
  opacity: 1;
  transition: opacity 1.2s linear .3s;
  &.out {
    opacity: 0;
  }
}